.App {
  padding: 160px 120px 120px 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}
.contenedorFlex{
  padding: 0px 80px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  
}
.App .flexApp{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.App button{
height: 70px;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
background-color: transparent;
border-radius: 15px;
border: 1px solid rgb(201, 201, 201);
}
.App button:hover{
  background-color: rgb(46, 169, 46);
  color: white;
}
.sectionsFlex{
  display: flex;
  width: 20%;
  justify-content: space-between;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.sectionsFlex .options{
  align-self: center;
  border-radius: 15px;
  border: 1px solid rgb(183, 183, 183);
  padding: 8px;
  background-color: rgb(220, 220, 220);
}
.sectionsFlex .candidatosFlex{
  align-self: center;
  border-radius: 15px;
  border: 1px solid rgb(183, 183, 183);
  padding: 8px;
  background-color: rgb(220, 220, 220);
}
.totales{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  border-radius: 15px;
  border: 1px solid rgb(183, 183, 183);
  padding: 8px;
  background-color: transparent;
  box-shadow: 10px 5px 5px rgb(158, 158, 158);
}

